clang llvm libelf-dev libpcap-dev build-essential libc6-dev-i386 m4 linux-tools-$(uname -r) linux-headers-$(uname -r) linux-tools-common linux-tools-generic tcpdump iproute2




xdp-tools



clang llvm libelf-dev libpcap-dev build-essential libc6-dev-i386 m4
linux-tools-$(uname -r)
linux-headers-$(uname -r)
linux-tools-common linux-tools-generic
tcpdump
libbpf-dev libxdp-dev xdp-tools


build-essential/oldstable 12.9 amd64
clang/oldstable 1:14.0-55.7~deb12u1 amd64
libbpf-dev/oldstable 1:1.1.2-0+deb12u1 amd64
libbpf1/oldstable 1:1.1.2-0+deb12u1 amd64 [upgradable from: 1:1.1.0-1]
libc6-dev-i386/oldstable 2.36-9+deb12u13 amd64
libelf-dev/oldstable 0.188-2.1 amd64
libpcap-dev/oldstable 1.10.3-1 amd64
libxdp-dev/oldstable 1.3.1-1 amd64
libxdp1/oldstable 1.3.1-1 amd64
llvm/oldstable 1:14.0-55.7~deb12u1 amd64
m4/oldstable 1.4.19-3 amd64
tcpdump/oldstable,now 4.99.3-1 amd64 [installed]

linux-perf
bpftools

sudo docker run --detach --tty --net='bridge' --cap-add=CAP_BPF --ulimit nofile=10240:10240 --ulimit nproc=65356:65536 --ulimit memlock=-1 imunes/template



ULIMITS + -> --ulimit memlock=-1
1024:1024
1073741824

--cap-add=BPF

https://blog.bitsofnetworks.org/debug-bpf-docker-l2tpns/


1ed1414abf9d9e03ce09d030f98772ce850388755220269124c5bee5660ae31c

apt upgrade

	

